<br />
<h1>Contacts</h1>
<div class="row">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th style="text-align: center;" scope="col">Address</th>
        <th style="text-align: center;" scope="col">Date of Birth</th>
        <th style="text-align: center;" scope="col">Phone</th>
        <th style="text-align: center;" scope="col">Email</th>
        <th style="text-align: center;" scope="col">Credit Card</th>
        <th style="text-align: center;" scope="col">Franchise</th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <th scope="row"><%= contact.name %></th>
          <td style="text-align: center;"><%= contact.address %></td>
          <td style="text-align: center;"><%= contact.date_of_birth.strftime('%Y-%m-%d') %></td>
          <td style="text-align: center;"><%= contact.phone %></td>
          <td style="text-align: center;"><%= contact.email %></span></td>
          <td style="text-align: center;"><%= contact.credit_card_last_digits.rjust(10, 'X') %></span></td>
          <td style="text-align: center;"><%= contact.franchise %></span></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @contacts %>
</div>
