<!DOCTYPE html>
<html>
  <head>
    <title>ContactImporter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render "base/navbar" %>

      <div class="container">
        <div class="container-fluid">
          <%= yield %>
        </div>
      </div>

      <%= render "base/footer" %>
    <div>
  </body>
</html>
